.input {
    padding: 10px 0;
    height: 41px;
    border-bottom: 2px solid $colorMain;
    width: 100%;
    display: block;
    font-size: 17px;
    line-height: toProcent(17, 20);

    @media(max-width: 768px){
        padding: 0 0 13px 10px;
        height: 31px;
        font-size: 15px;
        line-height: toProcent(15, 18);
        border-color: $colorFont;
    }
}