.sublimated-products {
    padding: 0 110px;
    max-width: 980px;
    margin: 100px auto 0;
    position: relative;

    @media (max-width: 1200px) {
        margin-top: 64px;
    }

    @media (max-width: 992px) {
        padding: 0 80px;
        margin-top: 48px;
    }

    @media (max-width: 768px) {
        margin-top: -42px;
        padding: 0 56px;
    }

    @media (max-width: 480px) {
        margin-left: calc((-100vw + 300px) / 2);
        margin-right: calc((-100vw + 300px) / 2);
        padding-left: calc((100vw - 300px) / 2);
        padding-right: calc((100vw - 300px) / 2);
    }

    &__slider {
        padding: 16px;
        margin: -16px;

        &-wrapper {
        }

        &-slide {
        }
    }

    &__arrows {
    }

    &__arrow {
        position: absolute;
        top: 50%;
        z-index: 2;

        &--prev {
            left: 0;
            transform: translate(0, -144%);

            @media (max-width: 768px) {
                transform: translate(0, -170%);
            }
        }

        &--next {
            right: 0;
            transform: translate(0, -144%);

            @media (max-width: 768px) {
                transform: translate(0, -170%);
            }
        }
    }
}
